# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/

# Site packages
**/site-packages/

# Bin directory
**/bin/

# IDE specific files
.vscode/
.idea/

# Specific to your project structure
backend/__pycache__/
backend/app/__pycache__/
backend/app/**/__pycache__/
backend/venv/

